<div class="container">
  <h1>Welcome to the Secret Club!</h1>
  <p>If you're a member, please sign in</p>

  <table>
    <form action = "/login" method = "POST">
      Username: <input type = "text" name = "Username" placeholder = "username">
      <br>
      Password: <input type = "text" name = "Password" placeholder = "password">
      <input type ="submit" value = "Login">
    </form>
  </table>
</div>

